*{
    font-family: Roboto,"Helvetica Neue",Helvetica,Arial,sans-serif;
}
.knowledgeBase{
    width: 100%;
    height: 100vh;
    background-color: #f9fafb;
}
.knowledgeBaseTopContainer{
    text-align: center;
    width: 55vw;
    padding-top: 50px;
    margin: auto;
    position: static;
    margin-top: 100px;
 
}
.searchContainer{
    display: flex;
    align-items: center;
    width: 55vw;
    /* height: 60px; */
}
.searchBar{
    width: 46vw;
    height: 50px;
    background-color: white;
    border: 1px solid lightgrey;
    border-radius: 4px;
}
.searchBar:hover{
    border-color: #4e75ad;
}
.kbsearchButton{
    height: 52px !important;
    background-color: #84c529!important;
}
.knowledgeBaseInputBox{
    height: 50px;
    width: 43vw;
    border: none;
    outline: none;
}
.kbBottomContainer{

    width: 82%;
    padding: 10px 30px;
    margin: 100px auto 0 auto;
    border: 1px solid lightgrey;
    background-color: white;
    border-radius: 4px;
}
.headingText{
    color: #314e73;;
    font-size: 25px;
}
.headingText{
    color: #314e73;;
    font-size: 25px;
}
.headingText1{
    
    color: #314e73;;
    font-size: 20px;
}
h3{
    color: #337ab7;
}
.kbBottomContainerSales{
    margin-top: 35px;
    width: 90px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}