.MuiDataGrid-root{
    width: 97% !important;
    height: 700px !important;
    margin: 30px 10px !important;
    background-color: white;
    padding: 18px 20px;
    
}
.MuiDataGrid-columnHeader{
    color: #4e75ad ;
    background: #f6f8fa !important;
}
.MuiDataGrid-cellContent:nth-child(1){
    color: #4e75ad ;

}
.categories{
    color: black !important;
}
.expensesTop{
    width: 97%;
    /* border: 1px solid black; */
    margin: 30px 10px !important;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 5px;
    padding: 10px 0px;
}