/* .topbar{
  background-color:white;
  height: 59px;
} */
.topbarContainer {
  height: 80px;
  width: 100%;
  background-color: #415165;

  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 4;
}

.topbarLeft {
  width: 20%;
  display: flex;
  align-items: center;
  /* background-color: white; */
}

.topbarRight {
  width:320px;
  font-weight: 500;
  margin-right:170px;
 color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.loginRegisterButtonContainer{
  width: 170px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.topbarRightLoginButton{
  width: 100px;
  height: 40px;
  border-radius: 3px;
  background-color: white;
}
ul {
  list-style: none;
}