
.login2-admin {
  width: 100%;
  font-family: "Roboto", "Helvetica Neue", Helvetica, Arial, sans-serif;
  background-color: #fff;
  font-size: 13px;
  color: #6a6c6f;
  position: absolute;
  top: 0;
  margin: 0;
  padding: 0;
  height: 100vh;
}
.container2 {
  width: 100%;
  background-color: #fff;

  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}
.login2-container {
  width: 27%;
  margin: auto;
  min-width: 400px;
}

.login2-bottom {
  height: 540px;
  border-radius: 2px;
  border: 1px solid #e4e5e7;
  padding: 20px;
  background: #fff;
}
.login2-form {
  height: 480px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.login2-text {
  text-align: center;
  margin-top: 200px;
  font-weight: 400;
   margin-bottom: 30px; 
}
.inputBox2 {
  width: 99%;
  border: 1px solid #bfcbd9;
  -webkit-box-shadow: none;
  box-shadow: none;
  color: #494949;
  font-size: 14px;
  border-radius: 2px;
  height: 36px !important;
  outline: none;
}
.languageSelect{
  width: 100%;
  border: 1px solid #bfcbd9;
  -webkit-box-shadow: none;
  box-shadow: none;
  color: #494949;
  font-size: 14px;
  border-radius: 2px;
  height: 39px !important;
  margin-bottom: 12px;
}
.remember-me2{
    margin-left: -10px;
}
.captcha2 {
  width: 97% !important;
}

.loginButton2 {
  width: 100%;
  background-color: #03a9f4;
}

.registerButton2 {
  width: 100%;
  background-color: #84c529 !important;
  margin-top: 10px !important;
}
.forgotButton {
  width: 300px;
  margin-top: 5px;
}
/* @media (min-width: 1200px) {
  .container2 {
    width: 1170px;
  }
}
@media (min-width: 992px) {
  .container2 {
    width: 970px;
  }
}
@media (min-width: 768px) {
  .container2 {
    width: 750px;
  }
} */
